services:
  postgres:
    image: postgres:latest
    container_name: webhook-orchestrator-pg
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    restart: always
    container_name: webhook-orchestrator-redis
    command: >
      redis-server 
      --appendonly yes
      --appendfsync everysec
      --save 60 1
      --loglevel warning
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  rabbitmq:
    image: rabbitmq:3-management
    container_name: webhook-orchestrator-rabbitmq
    hostname: webhook-orchestrator-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/mnesia
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USERNAME}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
volumes:
  postgres_data:
  redis_data:
  rabbitmq_data: